@*@model OnlineSinav.Areas.Student.ViewModels.Questions*@
@model IEnumerable<OnlineSinav.Models.Questions>



@foreach (var item in Model)
{
    <div id="newForm">
        <div class="form-group" style="margin-right: 0px;">
            <div class="col-lg-12">
                <hr>
                <label class="form-control" cols="20" rows="2" style="max-width:100%; min-width: 100%; font-size:16px">@item.QuestName</label>
                </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-xs-11">
                <label class="col-sm-2 col-sm-2 control-label" for="A">A <input id="checkBoxid" type="checkbox" style="width: 15px; margin-left: 20px;margin-top:-18px " class="checkbox form-control" name="agree"></label>
                <label class="form-control" cols="20"  rows ="2" style="max-width:100%; min-width:100%; font-size:16px">@item.Answer1</label>
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-8 col-xs-11">
                <label class="col-sm-2 col-sm-2 control-label" for="B">B <input id="checkBoxid" type="checkbox" style="width: 15px; margin-left: 20px;margin-top:-18px " class="checkbox form-control" name="agree"></label>
                <label class="form-control" cols="20"  rows="2" style="max-width:100%; min-width:100%; font-size:16px">@item.Answer2</label>
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-8 col-xs-11">
                <label class="col-sm-2 col-sm-2 control-label" for="C">C <input id="checkBoxid" type="checkbox" style="width: 15px; margin-left: 20px;margin-top:-18px " class="checkbox form-control" name="agree"></label>
                <label class="form-control" cols="20"   rows="2" style="max-width:100%; min-width:100%; font-size:16px">@item.Answer3</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-xs-11">
                <label class="col-sm-2 col-sm-2 control-label" for="D">D <input id="checkBoxid" type="checkbox" style="width: 15px; margin-left: 20px;margin-top:-18px " class="checkbox form-control" name="agree"></label>
                <label class="form-control" cols="20"  rows="2" style="max-width:100%; min-width:100%; font-size:16px">@item.Answer4</label>


            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-xs-11">
                <label class="col-sm-2 col-sm-2 control-label" for="E">E <input id="checkBoxid" type="checkbox" style="width: 15px; margin-left: 20px;margin-top:-18px " class="checkbox form-control" name="agree"></label>
                <label class="form-control" cols="20" rows="2" style="max-width:100%; min-width:100%; font-size:16px">@item.Answer5</label>
            </div>
        </div>

    </div>
}
