@model IEnumerable<OnlineSinav.Models.Exam>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Dashio - Bootstrap Admin Template</title>

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Content/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/style-responsive.css" rel="stylesheet">

    <!-- =======================================================
      Template Name: Dashio
      Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body>
    <section id="container">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">

            <!--logo start-->
            <a href="index.html" class="logo" style="margin-left: 100px"><b>Öğrenci SIn<span>av tablosu</span></b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">

                <ul class="nav top-menu"></ul>

            </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li>

                        <a class="logout" href="login.html">Logout</a>
                    </li>
                </ul>
            </div>
        </header>

        <section id="main-content" style="margin-left: 100px; margin-right: 100px">
            <section class="wrapper">
                <h3><i class="fa fa-angle-right"></i> Öğrenci Sistemi</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i> Tablo</h4>
                            <hr>
                            <table class="table">
                                <thead>

                                <th>#</th>
                                <th>Ders Adı</th>
                                <th>Sınav Tarihi</th>
                                <th>Sınav Başlama Saati</th>
                                <th>Sınav Süresi</th>
                                <th>Sınav Gir</th>
                                <th>Sınav Notu</th>
                                <tr></tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    <tbody>
                                        <tr>
                                            <td>@item.id</td>
                                            <td>@item.ExamName</td>
                                            <td>@item.examDate.ToShortDateString()</td>
                                            <td>@item.examStart.ToShortTimeString()</td>
                                            <td>@item.ExamDuration dk</td>
                                            <td><button type="button" class="btn btn-round btn-theme02" name="redirect" onclick="location.href = '@Url.Action("ShowQuestions",new {exam_id = item.id})'">Sınava gir</button></td>
                                            <td>Sınav Notu yazacak</td>

                                        </tr>



                                    </tbody>

                                }

                            </table>

                        </div>
                    </div>
                    <!-- /col-md-12 -->

                </div>
                <!-- row -->
                <!-- /row -->
            </section>
        </section>

       

        <!-- /MAIN CONTENT -->
        <!--main content end-->
        <!--footer start-->
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Content/lib/jquery/jquery.min.js"></script>
    <script src="~/Content/lib/bootstrap/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="~/Content/lib/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Content/lib/jquery.scrollTo.min.js"></script>
    <script src="~/Content/lib/jquery.nicescroll.js" type="text/javascript"></script>
    <!--common script for all pages-->
    <script src="~/Content/lib/common-scripts.js"></script>
    <!--script for this page-->

</body>

</html>
